// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin-top-5per {
  margin-top: 5%;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-bottom-20px {
  margin-bottom: -20px;
}

.bg-white {
  background-color: #ddd;
  border: solid 1px #d8d4d4;
}

.padding-top-15px {
  padding-top: 15px;
}

p.title {
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: chocolate;
}

.show-padding-15px {
  padding-top: 15px;
  padding-bottom: 15px;
}

.show-position {
  position: relative;
}
.position {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.position1 {
  position: absolute;
  right: 90px;
  bottom: -26px;
}

// edit, update画面のサイズが大きい時の「作成」ボタン位置
@media (min-width:1200px) {
  .position1 {
    position: absolute;
    right: 90px;
    bottom: -92px;
  }
}