    <% if flash[:notice] %>
      <div class="flash text-right alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash text-right alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
